<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login & Registration</title>
</head>
<body>
    <form action='{% url "my_submit" %}' method='post'>
        {% csrf_token %}
        <h1>Register</h1>
        <input type='hidden' name='formtype' value='register' />
        Email: <input type='text' name='email_address'><br>
        First Name: <input type='text' name='first_name'><br>
        Last Name: <input type='text' name='last_name'><br>
        Password: <input type='password' name='password'><br>
        Confirm Password: <input type='password' name='passwordcheck'><br>
        <input type='submit' value='Register'>
    </form><br>

    {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    {% endif %}

    <br>

    <form action='{% url "my_submit" %}' method='post'>
        {% csrf_token %}
        <h1>Login</h1>
        <input type='hidden' name='formtype' value='login' />
        Email: <input type='text' name='email_address'><br>
        Password: <input type='password' name='password'><br>
        <input type='submit' value='Login'>
    </form>
</body>
</html>